@import '~bulma/bulma';

.navbar-item {
  flex-wrap: wrap;
  img {
    max-height: 20.75rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.memewrapper{
  display: flex;
  flex-flow: column wrap;
  max-height: 7300px;
  .memebox{
    .card{
      // height: 350px;
    }
  }
}
