@import '~bulma/bulma';

body{
  background: #aec6cf;
  min-height: 100vh;
}

.navbar-item {
  flex-wrap: wrap;
  img {
    max-height: 20.75rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.memewrapper{
  display: flex;
  flex-flow: column wrap;
  max-height: 7400px;
  .memebox{
    display: flex;
    flex-wrap: wrap;
    .card{
      background: lightgrey;
      p{
        width: 100%;
      }
    }
  }
}

h1 {
  text-align: center;
  font-family: 'impact', sans-serif;
  font-size: 50px;
  // animation: flash 2s infinite;
  height: 50px;
  margin: 0 0 50px 0;
  @media(max-width: 815px){
    font-size: 40px;
  }
  @media(max-width: 662px){
    font-size: 30px;
  }
}

@keyframes flash {
    0%   {
      color: red;
      font-size: 50px;
    }
    25%  {
      color: yellow;
      font-size: 35px;
    }
    50%  {
      color: blue;
      font-size: 50px;
    }
    75% {
      color: green;
      font-size: 35px;
    }
    100% {
      color: red;
      font-size: 50px;
    }
}

span {
  width: 30px;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
}

input {
  display: inline;
  width: calc(100% - 30px)
}
footer{
  margin-top: 70px;
  height: 80px;
  color: white;
  text-align: center;
  width: auto;
  background-color: #161616;
  // box-shadow: 100vh 110vh 0 110vh #161616;
}
footer:before, footer:after {
    padding: 1em;
    content: '';
}
