@import '~bulma/bulma';

.navbar-item {
  flex-wrap: wrap;
  img {
    max-height: 20.75rem;
    display: flex;
    flex-wrap: wrap;
  }
}

.memewrapper{
  // flex-direction: column;
  .memebox{
    .card{
      // height: 350px;
    }
  }
}
